<launch>
  <param name="token" value="$(arg token)" />
  <node name="verificador_ejercicio_propuesto_sesion1" pkg="verificador_ejercicio_propuesto_sesion1" type="verificador_ejercicio_propuesto_sesion1.py" output="screen">
	<param name="token" value="$(arg token)" />
  </node>

  <arg name="token" default="default_value" />
</launch>
